# vim: ft=yaml
# Scheme System: {{ scheme-system }}
# Scheme Name: {{ scheme-name }}
# Scheme Author: {{ scheme-author }}
# Template Author: tinted-jqp (https://github.com/tinted-theming/tinted-jqp)
theme:
  name: "native"
  styleOverrides:
    primary: "#{{ base0C-hex }}"
    secondary: "# {{ base0D-hex }}"
    error: "#{{ base08-hex }}"
    inactive: "#{{ base04-hex }}"
    success: "#{{ base0B-hex }}"
  chromaStyleOverrides:
    bg: "noinherit #{{ base05-hex }} bg:#{{ base00-hex }}"
    "": "noinherit #{{ base05-hex }}"
    kc: "noinherit #{{ base0E-hex }}" # Keyword.Constant
    kr: "noinherit #{{ base0E-hex }}" # KeywordReserved
    kd: "noinherit #{{ base12-hex }}" # KeywordDeclaration
    kn: "noinherit #{{ base0C-hex }}" # KeywordNamespace
    kt: "noinherit #{{ base12-hex }}" # KeywordType
    n: "noinherit #{{ base05-hex }}" # Name
    nc: "noinherit #{{ base0A-hex }}" # NameClass
    no: "noinherit #{{ base0A-hex }}" # NameConstant
    ne: "noinherit #{{ base09-hex }}" # NameException
    nf: "noinherit #{{ base0F-hex }}" # NameFunction
    nl: "noinherit #{{ base15-hex }}" # NameLabel
    nn: "noinherit #{{ base09-hex }}" # NameNamespace
    py: "noinherit #{{ base09-hex }}" # NameProperty
    nt: "noinherit #{{ base08-hex }}" # NameTag
    nv: "noinherit #{{ base06-hex }}" # NameVariable
    vc: "noinherit #{{ base06-hex }}" # NameVariableClass
    vg: "noinherit #{{ base06-hex }}" # NameVariableGlobal
    vi: "noinherit #{{ base06-hex }}" # NameVariableInstance
    na: "noinherit #{{ base0F-hex }}" # NameAttribute
    nb: "noinherit #{{ base15-hex }}" # NameBuiltin
    nx: "noinherit #{{ base05-hex }}" # NameOther
    l: "noinherit #{{ base05-hex }}" # Literal
    s: "noinherit #{{ base0B-hex }}" # LiteralString
    sc: "noinherit #{{ base0B-hex }}" # LiteralStringChar
    s1: "noinherit #{{ base0B-hex }}" # LiteralStringSingle
    s2: "noinherit #{{ base0B-hex }}" # LiteralStringDouble
    sb: "noinherit #{{ base0B-hex }}" # LiteralStringBacktick
    sx: "noinherit #{{ base0B-hex }}" # LiteralStringOther
    si: "noinherit #{{ base0B-hex }}" # LiteralStringInterpol
    sr: "noinherit #{{ base0C-hex }}" # LiteralStringRegex
    sd: "noinherit #{{ base03-hex }}" # LiteralStringDoc
    sh: "noinherit #{{ base03-hex }}" # LiteralStringHeredoc
    m: "noinherit #{{ base09-hex }}" # LiteralNumber
    mb: "noinherit #{{ base09-hex }}" # LiteralNumberBin
    mh: "noinherit #{{ base09-hex }}" # LiteralNumberHex
    mi: "noinherit #{{ base09-hex }}" # LiteralNumberInteger
    mf: "noinherit #{{ base09-hex }}" # LiteralNumberFloat
    mo: "noinherit #{{ base09-hex }}" # LiteralNumberOct
    o: "noinherit bold #{{ base15-hex }}" # Operator
    ow: "noinherit bold #{{ base15-hex }}" # OperatorWord
    c: "noinherit italic #{{ base03-hex }}" # Comment
    cs: "noinherit italic #{{ base03-hex }}" # CommentSingle
    cm: "noinherit italic #{{ base03-hex }}" # CommentMultiline
    cx: "noinherit italic #{{ base03-hex }}" # CommentSpecial
    ch: "noinherit italic #{{ base03-hex }}" # CommentHashbang
    cp: "noinherit italic #{{ base03-hex }}" # CommentPreproc
